﻿@model IEnumerable<Song>
@{
    ViewData["Title"] = "Home Page";

    var albums = new List<Album>
    {
        new Album
        {
            Name = "The Dark Side of the Moon"
        },
        new Album
        {
            Name = "Rockabilly"
        }
    };
}

<h1 class="display-4">Songs</h1>

<div id="tunnels">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayFilename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Download" asp-route-guid="@item.Id">@Html.DisplayFor(modelItem => item.DisplayFilename)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div id="albums">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>
                @* Esto es un comentario *@
                Album
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var album in albums)
        {
            <tr>
                <td>
                    <a asp-action="Download" asp-route-guid="@album.Id">@album.Name</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
