@{
    ViewData["Title"] = "Upload Music";
}
<h1>@ViewData["Title"]</h1>

<p>Use the form below to upload your music:</p>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
    <div class="form-group">
        <div class="col-md-10">
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>
